:root {
  --dark-color: #635bff;
  --light-color: #80e9ff;
}

svg {
  cursor: pointer;
}

#DarkGroup {
  fill: var(--dark-color);
}
#LightGroup {
  fill: var(--light-color);
}
#Dark1,
#Dark2,
#Light1 {
    transition: all 1s ease;
}
#Dark2 {
    transform: translateX(-100%);

}
svg:hover #Light1 {
    transform: translateX(13%);
}
svg:hover #Dark1 {
    transform: translateX(40%);
    opacity: 0
}
svg:hover #Dark2 {
    transform: translateX(0%);
}
